.unity-text-element {
    -unity-font-definition: url("project://database/Assets/ThirdParties/Fonts/Klee_One/KleeOne-Regular%20SDF.asset?fileID=11400000&guid=b71eada32b0944143b01709dc1d2b07a&type=2#KleeOne-Regular SDF");
}
